{
  "extends": "../.eslintrc",
  "env": {
    "jest": true
  },
  "globals" : {
    "assert": false,
    "expect": false,
    "should": false,
    "sinon": false
  },
  "plugins": [
    "should-promised"
  ]
}
